:root {
  --dark: #212121;
  --light: #f3f3f3;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;


}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#App {
  background: var(--dark);
  height: 100vh;
  color: var(--light);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  place-items: center;
  width: 50%;
}


.card_contain {
  position: relative;
  width: 100px;
  aspect-ratio: 3/4;
  border-radius: 0.5rem;
  overflow: hidden;
}
.card {
  position: absolute;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  transition: all 1s ease;
  transform: rotateY(180deg);
  border-radius: 0.5rem;
  box-shadow: 0 3px 10px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;

 
}

.card.isPlip {
  transform: rotateY(0);
}

.card__front,
.card__back {
  transition: all 1s ease;

  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  color: #333;
}
.card__front {
  background: #ffc728;
}
.card__back {
  background: #fafafa;
  transform: rotateY(180deg);
}

.card.active .card__front{
  transform: rotateY(180deg);

}

.card.active .card__back{
  transform: rotateY(0);

}